bugsnag==3.4.2
celery==4.2.0
Django==2.0.7
djangorestframework==3.8.2
django-compressor==2.2
django-cors-headers==2.3.0
django-debug-toolbar==1.9.1
django-ipware==2.1.0
django-material==1.2.5
easy-thumbnails==2.5
python-decouple==3.1
psycopg2-binary==2.7.5
django-grappelli==2.11.1
redis==2.10.6
requests==2.19.1
sendgrid==5.6.0
unidecode==1.0.22
uwsgi==2.0.17.1
django-materialize==1.0.1a2