{% extends "header_footer.html" %}

{% load static %}

{% block content %}
<div class="container">
    <div class="pure-g-r content-ribbon">
        <div class="pure-u-1">
            <div class="l-box">
                <h4 class="content-subhead">Listagem de Cursos da JARS</h4>
                <p>Abaixo a lista de cursos disponíveis na plataforma</p>
            </div>
        </div>
    </div>
    <div class="row">
    {% for course in courses %}
        <div class="col s12 m6 l3">
            <div class="card small hoverable center">
                <div class="card-content" onclick=window.location.href="{{ course.slug }}">
                    <a class="card-title black-text">{{course.name}}</a><br>
                    <div class="card-image">
                        {% if course.image %}
                        <img src="{{ course.image.url }}" alt="{{ course.name }}" />
                        {% else %}
                        <img class='responsive-img' src="{% static 'img/course-image.png' %}" alt="{{ course.name }}" />
                        {% endif %}
                    </div>
                </div>
                <div class="card-action">
                    <button data-target="{{dashboard.slug}}" class="btn modal-trigger">info</button>
                </div>
            </div>
    </div>
    {% empty %}
    <div class="pure-g-r content-ribbon">
        <div class="pure-u-1">
            <div class="l-box">
                <p>Nenhum curso está disponível na plataforma</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}