{% extends 'header_footer.html' %}

{% load material_form %}

{% block head_about %}
<title>Alterar foto | Dataglass</title>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link type="text/x-scss" rel="stylesheet" href="{% static 'css/my_account_profile_picture.scss' %}">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/my_account_profile_picture.js' %}"></script>
{% endblock %}

{% block body_class %}gray-bg{% endblock %}

{% block main_content %}
<div id="my-account-profile-picture" class="container container-small">
    <nav id="breadcrumbs">
        <a href="{% url 'accounts:my_account' %}">Minha conta</a> <i></i>
        <span>Alterar foto</span>
    </nav>

    <form method="POST" class="card mtop" enctype="multipart/form-data">
        <div class="card-content">
            <span class="card-title">Selecione um avatar ou envie sua foto</span>
            <div class="row">
                <div class="col s12 m6">
                    <div class="row avatars">
                        <div class="col s4">
                            <img src="{% static 'apps_accounts/img/profile-image-1.png' %}" data-image="1">
                        </div>
                        <div class="col s4">
                            <img src="{% static 'apps_accounts/img/profile-image-7.png' %}" data-image="7">
                        </div>
                        <div class="col s4">
                            <img src="{% static 'apps_accounts/img/profile-image-8.png' %}" data-image="8">
                        </div>
                    </div>
                    <div class="row avatars">
                        <div class="col s4">
                            <img src="{% static 'apps_accounts/img/profile-image-9.png' %}" data-image="9">
                        </div>
                        <div class="col s4">
                            <img src="{% static 'apps_accounts/img/profile-image-10.png' %}" data-image="10">
                        </div>
                        <div class="col s4">
                            <img src="{% static 'apps_accounts/img/profile-image-11.png' %}" data-image="11">
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="mtop">
                        {% csrf_token %}
                        {% form form=form %}{% endform %}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-action">
            <button type="submit" name="_submit" class="btn waves-effect waves-light">Salvar</button>
            <a href="{% url 'accounts:my_account' %}" class="btn btn-flat white waves-effect">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
