
{% load material_form %}

{% block head_about %}
<title>Minha conta | Dataglass</title>
{% endblock %}


{% block content %}
    
<div id="my-account" class="container">
    <nav id="breadcrumbs">
        <span>Minha conta</span>
    </nav>
            <div class="card card-profile">
                <div class="row">
                    <div class="card-content">
                        <div class="col s12 m3">   
                            <div class="center">
                                <span class="card-title">{{user.first_name}} {{user.last_name}}</span>
                                        <img class="profile-image" src="{{ request.user.profile_image_url }}">
                                </a><br>
                                            <i class="material-icons">edit</i>alterar foto
                              
                                    </a>
                        </div>
                        </div>
                        <div class="col s12 m9">
                                <form method="POST">
                                    {% csrf_token %}
                                    {{ form }}
                                    <div>
                                        <button type="submit" name="_submit" class="btn waves-effect waves-light">Salvar</button>
                                        <a href="" class="btn btn-flat white waves-effect">Cancelar</a>
                                    </div>
                                </form>                           
                        </div>
                    </div>    
                </div>
            </div>
</div>



{% endblock %}
