{% extends 'header_footer.html' %}

{% block content %}

{% load material_form %}

<div class="container">
        <div id="test1" class="col s12">
            <div class="card card-profile">
                <nav class="nav-extended grey lighten-1">
                    <div class="nav-content" role='navigation'>
                        <ul class="tabs tabs-transparent">
                            <li class="tab"><a class="active" href="#test1">My account</a></li>
                            <li class="tab"><a href="#test2">Tab 2</a></li>
                            <li class="tab"><a href="#test3">Test 3</a></li>
                        </ul>
                    </div>
                </nav>
                <div class="row">
                    <div class="card-content">
                        <div class="col s12 m3">
                            <div class="center">
                                <span class="card-title">{{user.first_name}} {{user.last_name}}</span>
                                <img class="profile-image" src="{{ request.user.profile_picture.url }}">
                                </a><br>
                                <i class="material-icons">edit</i>alterar foto
        
                                </a>
                            </div>
                        </div>
                        <div class="col s12 m9">
                            <form method="POST">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <div>
                                    <button type="submit" name="_submit" class="btn waves-effect waves-light">Salvar</button>
                                    <a href="" class="btn btn-flat white waves-effect">Cancelar</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
</div>

{% endblock %}

